.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.App img {
  height: 60vmin;
  pointer-events: none;
}

.App nav {
  align-content: center;
  display: flex;
  gap: 100px;
  width: auto;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
